html, body, #root, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  pointer-events: auto;
}

.modal-content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  width: 300px;
  pointer-events: auto; /* default anyway */
}

.modal-content form div {
  margin-bottom: 15px;
}

.submit-button {
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}
